.background {
    padding: 100px;
    display: flex;
    margin: 0px auto;
    justify-content: center;
    max-width: 560px;
}
.text {
    color: white;
    text-align: center;
    margin: 0px auto;
    justify-content: center;
    max-width: 960px;
}
.text1{
    color: rgb(14, 37, 245);
    font-size: xx-small;
}