#background{
    color: aliceblue;
    text-align: center;
    padding: 30px;
}
#front{
    font-size: xx-small;
    text-size-adjust: small;
}
#border{
    max-width: 170px;
    margin: 0px auto ;
    padding: 10px;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}